flask-app/question_generation/s2v_old/
flask-app/question_generation/._s2v_old/
*.wav
venv
flask-app/uploadedVideos/*
C:\Users\Monke\Documents\GitHub\Student-Engagement\flask-app\.env

flask-app/.env
